@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1)
;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child {
  margin-bottom: 0;
}

/*  убрать точки у списков, сброс отступов */
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* убрать подчеркивание */
.project-link,
.footer-maps {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

img {
  display: block;
}

/* заголовки h2 */
.disc-titel,
.team-titel,
.clients-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-titel,
.team-name,
.heading-title,
.disc-titel,
.clients-titel {
  color: var(--titel-text-color);
}

.hero-btn {
  padding: 10px 32px;
  /* font-family: inherit что бы кнопка наследовало */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  text-align: center;
  transition: background-color 250ms var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.modal__btn__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.modal__btn__close:hover .modal__icon__btn-close,
.modal__btn__close:focus .modal__icon__btn-close {
  fill: var(--accent-color);
}

.modal__btn__submit {
  padding: 10px 32px;
  /* font-family: inherit что бы кнопка наследовало */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  text-align: center;
  transition: background-color 250ms var(--cubic);
}

.modal__btn__submit:hover,
.modal__btn__submit:focus {
  background-color: #188ce8;
}

.filter-btn {
  padding: 6px 22px;
  border: none;
  min-width: 73px;
  max-width: 145px;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--titel-text-color);
  background-color: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe-btn {
  position: relative;
  padding: 10px 29px;
  margin-right: 0;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  transition: background-color 250ms var(--cubic);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
}

.subscribe-btn-span {
  display: flex;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms var(--cubic);
}

.nav-contacts:hover .nav-icon,
.nav-contacts:focus .nav-icon {
  fill: var(--accent-color);
}

.modal__icon__btn-close {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms var(--cubic);
}

.modal__icon {
  position: absolute;
  top: 58%;
  left: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--titel-text-color);
  transition: fill 250ms var(--cubic), fill 250ms var(--cubic);
}

.modal__icon:hover {
  fill: var(--accent-color);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
}

.modal__checkbox-input:focus + .modal__checkbox-icon {
  background-image: url(..../images/icon\check.svg);
  background-size: contain;
  background-origin: border-box;
  fill: var(--accent-color);
}

.pecu-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icons {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
}

.team-icon:not(:last-child) {
  margin-right: 10px;
}

.team-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}

.svg-icon {
  transition: fill 250ms var(--cubic);
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: var(--accent-color);
}

.team-link-icon:hover .svg-icon,
.team-link-icon:focus .svg-icon {
  fill: var(--primary-white-color);
}

.team-link-icon {
  fill: #afb1b8;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
}

.footer-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms var(--cubic);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--accent-color);
}

.footer-icon {
  fill: var(--primary-white-color);
  width: 20px;
  height: 20px;
}

.subscribe-icon {
  position: absolute;
  top: 15px;
  right: 28px;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-primary {
  color: var(--accent-color);
}

.logo-secondary {
  color: #000000;
}

.logo-tertiary {
  color: var(--primary-white-color);
}

/* подсветка активной страницы ??? */
.nav-link.current {
  color: var(--accent-color);
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* навигация */
.site-nav {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.nav-address {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

/* дай отступ соседу. при добавлении кнопок не нужно будет редактировать что-то типа last child */
.nav-address .item + .item {
  margin-left: 50px;
}

/* .nav-icon {
  fill: #757575;
  margin-right: 10px;

transition: fill 250ms var(--cubic);
} */
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubic);
}

.nav-link,
.logo {
  color: var(--titel-text-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  text-decoration: none;
  transition: color 250ms var(--cubic);
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: #2196f3;
}

/* .nav-contacts:hover .nav-icon,
.nav-contacts:focus .nav-icon {
  fill: var(--accent-color);
} */
.filters {
  margin-bottom: 50px;
  display: flex;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:nth-child(5n) {
  margin-right: 0px;
}

.main-lists {
  margin-top: 94px;
  margin-bottom: 94px;
}
/*# sourceMappingURL=portfolio.css.map */