.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-titel {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
}

.clients-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    margin-right: 30px;

    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;

    cursor: pointer;

    transition: border-color 250ms var(--cubic);

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}


.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    color: currentColor;
    cursor: pointer;
}



