.backdrobe {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms var(--cubic),
        transform 250ms var(--cubic);
}

.backdrobe.is-hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--primary-white-color);

}

.modal__title {
    margin: 0;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.modal__form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.modal__field {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.modal__field:hover input,
.modal__field:focus input {
    border-color: var(--accent-color);
}

.modal__field label {
    margin-bottom: 4px;
}

.modal__field input {
    margin: 0;
    padding: 11px;

    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border-color 250ms var(--cubic);
}

.modal__lable {
    display: flex;
    cursor: pointer;

    font-size: 12px;
}

.modal__input {
    cursor: pointer;
}

.modal__input:focus,
textarea:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.modal__field textarea {
    transition: border-color 250ms var(--cubic);
}

.modal__field:last-child {
    margin-bottom: 0;
}

.modal__field:hover textarea,
.modal__field:focus textarea {
    border-color: var(--accent-color);
}

.comment {
    resize: none;
    padding: 12px 16px;

    cursor: pointer;
}

.modal__field textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-input {
    position: absolute;
    appearance: none
}

.modal__checkbox-input:focus+.modal__checkbox-icon {
    background-image: url(../images/icon\check.svg);
    background-size: contain;
    background-origin: border-box;
    fill: var(--accent-color);
}

.checkbox__lable {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.modal__link {
    margin-left: 5px;
    color: var(--accent-color);
}

.modal__input,
.comment {
    outline: none;
}
